import("deSolve", "R6")
importFrom("stats", approxfun, splinefun)
importFrom("utils", "capture.output", "read.table", "type.convert")
import("graphics", "grDevices")
export(sdRunApp, sdRepository)
export(sdScenario, sdOdeModel, sdCoupledModel, sdSimulator, sdStaticModel)
export(sdLoadScenario, sdLoadModel)
export(sdBuildCoupledScenario)
export(sdInitEquations, sdEquationList, sdTemporalFunction, sdExcelTemplate)
export(sdFlow, sdFunction)
#export(initLSODA, runLSODA)
useDynLib(sdsim)